{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %} Gare Podistiche {% endblock %}

{% block body %}
<div id="page">
    <div id="page-content">
        <h2>Gare Podistiche di <b>Roma e Provincia</b> <button type="button"  class="btn btn-success float-right" onclick="window.location.href='/create-race'">Aggiungi Gara</button></h2>
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Ora</th>
                    <th>Nome</th>
                    <th>Città</th>
                    <th>Distanza</th>
                    <th>Sito Web</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for row in races %}
                <tr>
                    <td>{{row.time.strftime('%Y-%m-%d')}}</td>
                    <td>{{row.time.strftime('%H:%M')}}</td>
                    <td>{{row.name}}</td>
                    <td>{{row.city}}</td>
                    <td>{{row.distance}}</td>
                    <td><a href="{{row.website}}" target="_blank"><img src="{{url_for('static', filename='img/website.png')}}" alt="{{row.name}}"></a></td>
                    <td>
                        <a href="/update-race/{{row.id}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="">Edit</a>
                        <a href="/delete-race/{{row.id}}" class="btn btn-danger btn-xs" onclick="return confirm('Sei sicuro di voler cancellare la Gara?')">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            <tbody>
        </table>
    </div>
</div>

{% endblock %}
