{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %} Modifica Gara Podistica {% endblock %}

{% block body %}
<div id="page">
    <div id="page-content">
        <div id="create-race-form">
            <div class="create-race-header-form">
                <h2>Modifica Gara Podistica</h2>
            </div>
            <form method="POST" action="/update-race/{{race.id}}">
                <div class="create-race-form-groups">
                    <div class="input-group">
                        <label for="name">Nome Gara:</label>
                        <input type="text" name="name" id="name" placeholder="Nome Gara" size="40" value="{{race.name}}" required/>
                    </div>
                    <div class="input-group">
                        <label for="date">Data:</label>
                        <input type="date" name="date" placeholder="Data" class="input" value="{{race.time.strftime('%Y-%m-%d')}}"/>
                    </div>
                    <div class="input-group">
                        <label for="time">Ora:</label>
                        <input type="time" name="time" placeholder="Ora" class="input" value="{{race.time.strftime('%H:%M')}}"/>
                    </div>
                    <div class="input-group">
                        <label for="city">Città:</label>
                        <input type="text" name="city" placeholder="Città" size="40" class="input" value="{{race.city}}"/>
                    </div>
                    <div class="input-group">
                        <label for="date">Distanza:</label>
                        <input type="text" name="distance" placeholder="Distanza" size="40" class="input" value="{{race.distance}}"/>
                    </div>
                    <div class="input-group">
                        <label for="website">Sito Web:</label>
                        <input type="url"  name="website" placeholder="Sito Web" size="40" class="input" value="{{race.website}}"/>
                    </div>
                    <div class="button-group">
                        <button class="btn btn-success">Modifica</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    // ottieni il riferimento all'elemento input della data
    const dateInput = document.getElementById('date');
    
    // ottieni la data nel formato YYYY-MM-DD
    const dateValue = dateInput.value;
    
    // formatta la data nel formato DD/MM/YYYY
    const formattedDate = new Date(dateValue).toLocaleDateString('it-IT');
    
    // imposta il valore dell'input con la data formattata
    dateInput.value = formattedDate;
  </script>

{% endblock %}
