{% extends 'base.html' %}

{% block title %}Modifica Gara Podistica{% endblock %}

{% block body %}
{% include 'header.html' %}

<div id="page">
    <div id="page-content">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ 'success' if category=='success' else 'danger' }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div id="create-race-form">
            <div class="create-race-header-form">
                <h2>Modifica Gara Podistica</h2>
            </div>
            <form method="POST" action="{{ url_for('races_blueprint.update_race', race_id=race.id) }}">
                <div class="create-race-form-groups">
                    <div class="input-group">
                        <label for="name">Nome Gara:</label>
                        <input type="text" name="name" id="name" placeholder="Nome Gara" size="40"
                            value="{{ race.name }}" required />
                    </div>
                    <div class="input-group">
                        <label for="date">Data:</label>
                        <input type="date" name="date" class="input" value="{{ race.time.strftime('%Y-%m-%d') }}" />
                    </div>
                    <div class="input-group">
                        <label for="time">Ora:</label>
                        <input type="time" name="time" class="input" value="{{ race.time.strftime('%H:%M') }}" />
                    </div>
                    <div class="input-group">
                        <label for="city">Città:</label>
                        <input type="text" name="city" placeholder="Città" size="40" class="input"
                            value="{{ race.city }}" />
                    </div>
                    <div class="input-group">
                        <label for="distance">Distanza:</label>
                        <input type="text" name="distance" placeholder="Distanza" size="40" class="input"
                            value="{{ race.distance }}" />
                    </div>
                    <div class="input-group">
                        <label for="website">Sito Web:</label>
                        <input type="url" name="website" placeholder="Sito Web" size="40" class="input"
                            value="{{ race.website }}" />
                    </div>
                    <div class="button-group">
                        <button class="btn btn-success">Modifica</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}